@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
	background-color: #414141;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.notes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	transition: 1s;
}

.note {
	background-color: rgb(39, 39, 39);
	padding: 16px;
	margin: 8px;
	border-radius: 10px;
	width: 100%;
	box-shadow: 2px 2px 5px 2px #111111;
}

.btn{
    border: black 1px solid;
    border-radius: 3px;
    transition: 0.3s;
	width: 30px;
    height: 30px;
	color: #ffffff;
	background-color: #414141;
    &:hover{
        border-radius: 5px;
    }
    
}

.note-add {
	padding: 8px;
	margin: 8px;
	margin-right: 25px;
	cursor: pointer;
	width: auto;
    height: auto;
	background-color: #414141;
	border: none;
    &:hover{
        background-color: rgb(21, 255, 0);
		outline: black 1px solid;
    }
}

.note-edit {
	padding: 4px;
	cursor: pointer;
    &:hover{
        background-color: rgb(255, 251, 0);
    }
}

.note-delete {
	padding: 4px;
	cursor: pointer;
    &:hover{
        background-color: rgb(255, 0, 0);
    }
}

.box_btn{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden {
	display: none;
}
